@import "tailwindcss";

:root {
  font-family: "PingFang SC", "Microsoft YaHei", Inter, system-ui, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
  color: #111827;
}
